  html,
  body {
    height: 100%;
  }

.wrapper {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex: 10;
}

.footer {
  display: flex;
  flex: 1;
}